In [11]:
#The map() function is used for substituting each value in a Series with another value. 
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [12]:
# Import pandas.
import pandas as pd
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [13]:
#Using the map() function we are going to change B to A, C to B, and D to C. 
#To change each string value in this Series to another value using the following format.

#map("current_value_1" : "new_value_1",  "current_value_2" : "new_value_2", etc)

# Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [14]:
#The Python format() function is used to format a value to a specific format, 
#such as one or two decimal places, or adding a thousands separator

#"{value:format specification}".format(value)

# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [15]:
#We also apply the format() function to a Series or column in a DataFrame by chaining the map() and format() functions.
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [16]:
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object

In [17]:
# Format the "Total Students" to have the comma for a thousands separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

NameError: name 'district_summary_df' is not defined